[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
ipykernel = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
sentence-transformers = "*"
chromadb-client = "*"
chromadb = "*"  # Needed until release containing https://github.com/chroma-core/chroma/pull/1617 is available (> 0.4.22)
markdown = "*"
pymupdf = "*"
pypandoc = "*"
unstructured = {extras = ["all-docs"], version = "*"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
